 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'base/base';

// Custom Styles
body {
  background-image:url("../images/background.png");
  background-size:cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.link {
  color: gray;
  list-style: none;
  margin-top:5px;
  width: 200px;
  overflow-x: wrap;
  }
.main_nav ul {
  display: inline-flex;
 }
.main_nav li {
  padding: 0 50px 10px 0;
  margin-bottom: 10px;
  }

.concert_content{
  float:left;
}s

.form1, .form2, .log_in_form{
  padding-top: 140px;
  }

.form1, .form2, .concert_form, .log_in_form {
  margin: auto; max-width: 500px;
  }
.main_nav, .form1, .form2, .concert_form, .concert_content, .log_in_form , .user_concert_content{
   display: none;}
.main_nav ul { width: 100%;
  padding-top: 10px; background-color: black; }
.main_nav li { color: gray; font-weight: bold; }
.form1{
margin-top: 48px;
width: 331px;
height: 440px;
background-image:url("../images/signup_form.png");
position:relative;
padding-top: 191px;
padding-left: 32px;
}
.form1 input{
  width:266px;
  margin-left:30px;
  margin:0;
  color:black;
background-color:#d3d3d3;

}
.form1 input[type="submit"] {
  background-color:#2fcc05;
  color:white;
}

.signup{

}
.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  max-width: 400px;
  cursor: pointer;
  box-shadow: 0 2px 4px darken(black, 10);
  position: relative;


    @include span-columns(4);
    @include omega(3n);


  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

    }
    .going , .maybe, .notgoing { display: none; }
    .going { background-color: green;}
    .maybe { background-color: yellow;}
    .notgoing { background-color: red;}
    // .maybe    { top: -9px;}
    // .notgoing { top: -31px;}


  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;
  }

  .card-copy {
    padding: $base-line-height/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }

  .card-stats {
    padding: $base-line-height/2 $gutter/2;
    overflow: auto;

    ul li {
      display: inline;
      color: $card-stats-color;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
    }
  }

  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
